// CARDS (FLEX)
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-items: center;
  align-items: baseline;

  margin-bottom: 5em;
}

.card-item {
  flex: 1 1 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 200px;
  min-height: 5rem;
  margin: auto;

  text-align: center;
  border: .5px solid darken($base-color, 2);
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
  background: $white;

  * {
    background: $white;
  }
}
.card-item-title {
  width: 100%;
  padding: 1rem;
  color: $dark-highlight-color;
}
.card-item-content {
  width: 100%;
  padding: 1rem 1rem;
  // transition: all .5s ease-in-out;

  ul li {
    margin-bottom: .7rem;
  }
}


@media screen and (min-width: $responsive-size) {
  .card-item {
    height: 6rem;

    &-content {
      display: none;
    }

    &:hover {
      .card-item-title,
      .card-item-content {
        z-index: 10;
        transform: scale(1.1);
        border: thin solid darken($base-color, 2);
      }

      .card-item-title {
        border-bottom: none;
        border-radius: 5px 5px 0 0;
      }

      .card-item-content {
        display: block;
        border-top: none;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
      }
    }
  }
  
}