.parallax {
  width: 100%;
  height: calc(100vw * .75);
  
  background-size: 100vw calc(100vw * .75);
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-position: center 0;
  
  @media screen and (min-width: $responsive-size) {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    // object-fit: cover;
  }
}

#inicio {
  background-image: url(../img/me-nor.jpg);
}